* {
  align-content: center;
  font-family: 'Montserrat', sans-serif;
  background: black;
}
.navbar {
justify-content: center;

}
h1 {
  color: white;
  text-align: center;
  margin-top: 5%;
}
h2 {
  color: skyblue;
  text-align: center;
  font-size: 30px;
}
p {
  color: white;
  text-align: center;
  font-size: 18px;
}
h3 {
  color: white;
  background-color: transparent;
  text-align: center;
  font-size: 30px;
}
.cinfo {
  color: white;
  text-shadow: 2px 2px black;
  text-decoration: underline;
}
#cigithub {
  color: white;
  text-shadow: 2px 2px black;
}
#cigithub:hover {
  color: blue;
}
h4 {
  color: skyblue;
  text-align: center;
  font-size: 30px;
  margin-top: '2%';
}
.button {
  background: skyblue;
  border-color: skyblue;
  color: black;
}
.button:hover {
  background: blue;
  color: white;
}
a {
  color: skyblue;
}
a:hover {
  color: blue;
}
.links {
  align-items: center;
  justify-content: center;
}
.fas {
  background-color: transparent;
}
.fab {
  background-color: transparent;
}
.cityinfo {
  background-color: transparent;
}
.carousel-indicators {
  background-color: transparent;
}
.stocked {
  font-family: 'Roboto Mono', monospace;
}

